---
import CreativeCommonsLicense from '../assets/images/creative-commons-by-sa.svg';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
<footer>
    <p>The codebase is released under a MIT license and is available on <a href="https://github.com/TCotton/algoraveshare" rel="external">GitHub</a>. The content is released under a Creative Commons license</p>
    <p><a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="external license"><CreativeCommonsLicense /></a></p>
</footer>