---
import Layout from '../layouts/Layout.astro';
import SubmitProjectForm from "../forms/SubmitProjectForm.tsx";
---
<Layout sectionName="addProjects">
    <header class="add-projects-header">
        <h1>Submit Project</h1>
        <p>This is the page to submit projects. You have a choice of submitting a finished project or a before and after
            coding project. Some users of Tidal Cycles or Strudel like to start a live performance with a framework or
            skeleton code which is added or manipulated as the live performance progresses.</p>
        <div is-="separator" direction-="horizontal"></div>
    <SubmitProjectForm client:only="react"/>
    </header>
</Layout>