---
import MusicNote from '../assets/images/icons8-music-small.apng';
---
<div tabindex='0' class="site-icon" is-="typography-block" box-="round" shear-="top">
    <header>
        <h1 class="space-mono-regular-italic">algorave share</h1>
        <img src={MusicNote} alt="algorave share icon" width="48" height="48"/>
    </header>
    <footer>
        <span class="sub-heading" is-="badge" variant-="background0">For Tidal Cycles and Strudel</span>
    </footer>
</div>

<style>
    a.site-icon-homepage {
        text-decoration: none;
    }
    .site-icon {
        margin-bottom: 2lh;
        padding: 2ch 4ch 0 4ch;
        cursor: pointer;

        header {
            display: flex;
            align-items: flex-end;
            gap: 1ch;
            margin-bottom: 1lh;
        }
    }

    .site-icon h1 {
        font-size: 2rem;
        margin: 0;
        color: var(--text);
    }

    footer .sub-heading {
        text-box: trim-end cap alphabetic;
        color: var(--yellow);
    }
</style>
<script type="module">
    const icon = document.querySelector('.site-icon');
    if (icon) {
        icon.addEventListener('click', () => {
            window.location = '/';
        })
    }
</script>