---
import DropDownMenu from './DropDownMenu.jsx';
---
<div class="drop-down-menu">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <DropDownMenu />
    </div>
</div>