---

---
<div class="share-btn">
    <a href="#" data-id="fb">Facebook</a>
    <a href="#" data-id="tg">Telegram</a>
    <a href="#" data-id="re">Reddit</a>
    <a href="#" data-id="hn">Hacker News</a>
    <a href="#" data-id="wa">WhatsApp</a>
    <a href="#" data-id="mail">Email</a>
</div>
<style>
    @media (max-width: 768px) {
        .share-btn {
            a {
                display: flex;
                justify-content: center;
            }
        }
    }


    .share-btn {
        padding: 2ch 2ch 0 2ch;

        a:link {
            border: 0.2ch solid var(--rosewater);
            padding: 1ch;
            text-decoration: none;
            color: rgb(from var(--text) r g b / 0.9);
        }

        a:visited {
            color: rgb(from var(--text) r g b / 0.8);
        }

        a:focus {
            color: rgb(from var(--subtext0) r g b / 1);
        }

        a:hover {
            color: rgb(from var(--subtext0) r g b / 1);
            cursor: pointer;
        }

        a:active {
            color: rgb(from var(--subtext0) r g b / 1);
        }
    }
</style>
<script>
    import 'share-buttons';
</script>
