---

---
<div class="share-btn">
    <a href="#" data-id="fb">Facebook</a>
    <a href="#" data-id="tg">Telegram</a>
    <a href="#" data-id="re">Reddit</a>
    <a href="#" data-id="hn">Hacker News</a>
    <a href="#" data-id="wa">WhatsApp</a>
    <a href="#" data-id="mail">Email</a>
</div>
<style>
    .share-btn > a {
        border: 0.2ch solid var(--rosewater);
        padding: 1ch;
    }

    .share-btn > a:hover {
        cursor: pointer;
    }
</style>
<script>
    import 'share-buttons';
</script>
