---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Navigation from './Navigation.astro';

---

<div id="container">
    <h1>Welcome to Algorave Share</h1>
    <Navigation />

    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
</div>