---
import Layout from '../layouts/Layout.astro';
import Codeblock from '../components/Codeblock.astro';
import Audio from '../components/Audio.astro';
import Music from '../../src/assets/music/sample-pentangle.wav'
const fullCode = false;
const codeExample = `<pre><code class="language-js">
const menu = document.querySelector('.menu');

menu?.addEventListener('click', () => {
  const isExpanded = menu.getAttribute('aria-expanded') === 'true';
  menu.setAttribute('aria-expanded', String(!isExpanded));
});
</code></pre>`
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1>Projects</h1>
    <h2>user_id</h2>
    <h3>project_name</h3>
    <div class="content">
    {!fullCode && <div class="grid-content-two-columns">
        <div class="left-column">
            <Codeblock language="js" code={codeExample} />
        </div>
        <div class="right-column">
            <Codeblock language="js" code={codeExample} />
        </div>
    </div>}
    {fullCode && <div class="grid-content-one-columns">
        <Codeblock language="js" code={codeExample} />
    </div>}
    </div>
    <div class="description">
        <p>This is a description of the project. It provides an overview of what the project is about, its goals, and any relevant details that might interest potential collaborators or users.</p>
    </div>
    <div class="audio-section">
        <Audio fileRoute={Music} />
    </div>
</Layout>

<style>
    .grid-content-two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        gap: 5ch; /* Space between columns */
    }

    .grid-content-one-columns {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr; /* Single column */
        width: 66.6667%; /* two-thirds width */
    }

    .content, .description, .audio-section {
        margin-bottom: 2lh; /* Space between sections */
    }

    @media (max-width: 768px) {
        .grid-content-two-columns  {
            grid-template-columns: 1fr; /* Stack columns on small screens */
        }
        .grid-content-one-columns {
            width: 100%; /* full width on small screens */
        }
    }
</style>

<script>
</script>