---
import DJIcon from '../assets/images/icons8-dj.svg';
---
<div class="description" is-="typography-block" box-="round" shear-="top">
    <div class="header">
        <div is-="badge" variant-="background0"><h1>Description</h1></div>
    </div>
    <div is-="separator" direction-="horizontal"></div>
    <DJIcon class="dj-icon" width="148" height="148"/>
    <p>This is a description of the project. It provides an overview of what the project is about, its goals, and
        any relevant details that might interest potential collaborators or users.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu orci orci. Integer orci augue, pulvinar non
        eros et, faucibus ultrices justo. Phasellus viverra eu massa nec ultrices. Duis at sapien malesuada, convallis
        dolor et, sollicitudin mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam placerat sit
        amet arcu a placerat. Maecenas maximus dolor ac magna euismod, et vestibulum lectus suscipit. Nullam scelerisque
        metus elit, non varius nibh rutrum ullamcorper. Donec ut venenatis nunc. Quisque vestibulum finibus tellus,
        vitae pharetra purus tincidunt eget. Etiam facilisis dolor non leo aliquam pretium. Duis mauris nulla, semper a
        tempor sed, rutrum et tortor. Morbi accumsan nibh id consequat rutrum.</p>
</div>
<style>
    .dj-icon {
        float: left;
        margin-top: 2lh;
    }
</style>