---
import Music from "../assets/music/sample-pentangle.wav";
import AudioVisual from "../components/AudioVisual.astro";
---

<section class="audio-wrapper">
    <div class="audio-visual">
        <AudioVisual musicFile={Music}/>
    </div>
</section>