---
---
<div class="description" is-="typography-block" box-="round" shear-="top">
    <div class="header">
        <div is-="badge" variant-="background0"><h1>Description</h1></div>
    </div>
    <div is-="separator" direction-="horizontal"></div>
    <p>This is a description of the project. It provides an overview of what the project is about, its goals, and
        any relevant details that might interest potential collaborators or users.</p>
</div>