---
import Head from "../components/Head.astro";
import Footer from '../components/Footer.astro';
import Icon from '../components/Icon.astro';
const { ...props } = Astro.props;
---
<!doctype html>
<html lang="en-GB" data-webtui-theme="catppuccin-mocha">
<head>
    <Head />
</head>
<body>
<div class="container">
    <Icon />
    <slot />
</div>
<Footer />
</body>
</html>
