---
import SocialMedia from "../components/Share.astro";
---
<div class="social-media" is-="typography-block" box-="round" shear-="top">
    <div class="header">
        <div is-="badge" variant-="background0"><h1>Share</h1></div>
    </div>
    <SocialMedia />
</div>